.my_login_card {
  width: 500px;
  position: absolute;
  left: 400px;
  top: 50px;
  .card-body {
    border-radius: 8px;
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    color: white;
  }
}
